@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap");
* {
  margin: 0;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.info {
  padding-top: 30px;
}

body {
  font-family: Poppins, Helvetica, sans-serif;
  letter-spacing: 0.8px;
}

.natureSound {
  background-color: #f3f6f7;
  margin-bottom: 1em;
  border-radius: 10px;
}

.whiteNoise {
  background-color: #f3f6f7;
  margin-bottom: 1em;
  border-radius: 10px;
}

.lightMusic {
  background-color: #f3f6f7;
  border-radius: 10px;
}

.timerBtn {
  background-color: #0cbaba;
  margin-bottom: 1em;
  margin-top: 2em;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.btnContainer {
  padding-left: 2em;
}
.natureSound > :last-child,
.whiteNoise > :last-child,
.lightMusic > :last-child {
  padding-bottom: 50px;
}

.timerBtn p {
  padding-left: 2.5em;
}
.timerBtn h2 {
  margin: 0;
  color: #f3f6f7;
  background-color: #0cbaba;
}

h1 {
  padding: 20px 0;
  background-color: #0cbaba;
  color: cornsilk;
  font-size: 2.6em;
  text-align: center;
}

h2 {
  padding: 20px 0 20px 40px;
  font-size: 1.5em;
  font-weight: 600;
  border: 1px #0cbaba solid;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}
.activeBtn {
  background-color: #036a6a;
  color: #f3f6f7;
  border-radius: 3px;
  border: 2px white solid;
  transition: ease-out 0.3s;
}
button:hover {
  background-color: #036a6a;
  color: #f3f6f7;
  border-radius: 3px;
  border: 2px white solid;
  transition: ease-out 0.3s;
}
button {
  padding: 0.8em;
  margin: 0 0.5em;
  background-color: white;
  border-radius: 3px;
  border: 2px black solid;
}

figure {
  padding-left: 40px;
}

.hiddenInfo {
  display: none;
}
.show {
  color: white;
  font-size: large;
  font-weight: 600;
  border: 2px solid white;
  background-color: blueviolet;
  padding: 4px;
  border-radius: 5px;
  display: inline;
}

#timer-select {
  padding: 0.5rem;
  border-radius: 5px;
}
